.hi {
  color:blueviolet;
}

.many {
  color:darkblue;
}

#boom{
  color:steelblue;
}

.fps {
  color:cornflowerblue;
}

.ruby {
  color:peru;
}

#no {
  color:lightsalmon;
}

.pest {
  color:green;
}

#farm {
  color:limegreen;
}

.shadow {
  color:black;
}

#protecc {
  color:gray;
}

.pirate {
  color:khaki;
}

#booty{
  color:gold;
}
